.Weather {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 600px;
  font-family: "Cardo", serif;
  color: #3c4245;
  background: #d8bcab;
  border-radius: 10px;
  padding: 30px 40px 20px 40px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

form {
  display: block;
  padding-bottom: 10px;
  text-align: center;
}

.btn {
  background: #3c4245;
  color: #fff;
  border: none;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: #5e686d;
}

button {
  background: #719192;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #89aeb0;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

.today {
  padding-bottom: 20px;
}

.current-temperature {
  font-size: 45px;
  font-weight: 600;
}

.units a {
  text-decoration: none;
  font-size: 16px;
  color: #719192;
}

.description {
  line-height: 16px;
}

.details {
  text-align: left;
  line-height: 2;
}

ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

li {
  font-size: 15px;
}

i {
  font-size: 25px;
}

.forecast {
  padding-bottom: 10px;
}

.day-forecast {
  font-size: 17px;
}

.max-temp-forecast {
  font-weight: 600;
}

footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  padding-top: 10px;
}

footer .footer-link {
  text-decoration: none;
  font-weight: 600;
  color: #719192;
}

.footer-link:hover {
  color: #3c4245;
}
